{{> head }}

	{{> navbar }}

	<div class="row">
		<div class="col-8">
			<h1>Hello {{ nombre }}</h1>
			<p>Lorem</p>
		</div>
		<div class="col-4">
			<img src="{{img}}" class="img-thumbnail">
		</div>
	</div>
{{> footer }}